<header>
    <h3>Flashcards</h3>

    <div class="header-options">
        <app-button label="Painel" class="reverse"></app-button>
        <app-button label="Criar baralho"></app-button>
        <app-button label="Adicionar cartão"></app-button>
    </div>
</header>

<section class="flex">
    <app-card width="60%" height="525px">
        <app-table [headerLabels]="headerData" [data]="[
            ['Biologia', '23', '12', '23'],
            ['Matemática', '20', '15', '25'],
            ['Física', '18', '14', '22']]" 
            [hasOptions]="true"  [columnWidth]="'20%'"
        ></app-table>
       
    </app-card>

    <app-card width="40%" height="525px" display="flex" justifyContent="center">
        <canvas id="canvas">{{chart}}</canvas>
    </app-card>
</section>

<section class="flex mt-5">
    <div class="card">

    </div>

    <div class="card">
        
    </div>
</section>