<header>
    <h3>Flashcards</h3>

    <div class="header-options">
        <app-button label="Painel" class="reverse"></app-button>
        <app-button label="Criar baralho"></app-button>
        <app-button label="Adicionar cartão"></app-button>
    </div>
</header>

<section class="flex">
    <div class="card" style="width: 65%;">
        <div class="table">
            <div class="tr-header">
                <div class="th" style="width: 20%;">Baralhos</div>
                <div class="th" style="width: 20%;">Novos</div>
                <div class="th" style="width: 20%;">Aprender</div>
                <div class="th" style="width: 20%;">Revisar</div>
                <div class="th" style="width: 20%;"></div>
            </div>

            <div class="tr">
                <div class="td" style="width: 20%;">Biologia</div>
                <div class="td" style="width: 20%;">23</div>
                <div class="td" style="width: 20%;">12</div>
                <div class="td" style="width: 20%;">23</div>
                <div class="td" style="width: 20%;">button</div>
            </div>

            <div class="tr">
                <div class="td" style="width: 20%;">Biologia</div>
                <div class="td" style="width: 20%;">23</div>
                <div class="td" style="width: 20%;">12</div>
                <div class="td" style="width: 20%;">23</div>
                <div class="td" style="width: 20%;">button</div>
            </div>

            <div class="tr">
                <div class="td" style="width: 20%;">Biologia</div>
                <div class="td" style="width: 20%;">23</div>
                <div class="td" style="width: 20%;">12</div>
                <div class="td" style="width: 20%;">23</div>
                <div class="td" style="width: 20%;">button</div>
            </div>

            <div class="tr">
                <div class="td" style="width: 20%;">Biologia</div>
                <div class="td" style="width: 20%;">23</div>
                <div class="td" style="width: 20%;">12</div>
                <div class="td" style="width: 20%;">23</div>
                <div class="td" style="width: 20%;">button</div>
            </div>
        </div>
    </div>

    <div class="card" style="width: 35%;">
        
    </div>
</section>

<section class="flex mt-5">
    <div class="card">

    </div>

    <div class="card">
        
    </div>
</section>