<header class="py-3 px-5">
  <section class="container flex align-items-center justify-content-end">
  

    <div class="align-items-center">
      <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row">
        <p-menu #menu [model]="items" [popup]="true" />
        <li>
          <a (click)="menu.toggle($event)" class="p-ripple p-element flex px-6 p-3 lg:px-3 lg:py-2 align-items-center font-medium border-round cursor-pointer transition-colors transition-duration-150">
            <img src="assets/img/profile-icon.png" alt="image" height="57">
          </a>
        </li>
      </ul>
    </div>
    
  </section>
</header>
