table {
    width: 100%;
    tr {
        border-radius: 12px;
        cursor: pointer;
        &:hover{
            background-color: #eaeaea;
        }
        td {
            font-size: 22px;
            padding: 12px;
        
            
    }
    }
        
   
}
