<section class="p-3 flex justify-content-center">
    <div class="container">
        <div class="surface-card p-4 flex justify-content-between border-round-xl">
            <div class="text-3xl font-medium text-900 borde">Flashcards</div>
            <div>
                <button pButton pRipple label="Criar baralho" class="w-full" (click)="showDialog()"></button>
            </div>
        </div>
    </div>
</section>

<section class="p-3 pt-0 flex justify-content-center">
    <div class="container">
        <div class="surface-card p-4 border-round-xl">
            <p-table [value]="customers" sortField="name" sortMode="single" dataKey="name" rowGroupMode="subheader" groupRowsBy="name" [tableStyle]="{'min-width': '70rem'}">
                <ng-template #groupheader let-customer let-rowIndex="rowIndex" let-expanded="expanded">
                    <tr>
                        <td colspan="5" class="td-hover">
                            <button
                                type="button"
                                pButton
                                pRipple
                                [pRowToggler]="customer"
                                text
                                rounded
                                plain
                                class="mr-2"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                            </button>
                            <span class="font-bold ml-2">{{customer.name}}</span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template #expandedrow let-customer>
                    <tr>
                        <td colspan="5">
                            <p-table [value]="customer.children" dataKey="name" groupRowsBy="name" [tableStyle]="{'margin-left': '2rem', 'width': '90%'}">
                                <ng-template pTemplate="body" let-child>
                                    <tr>
                                        <td  class="td-hover">{{child.name}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </td>
                    </tr>
                </ng-template>

                
            </p-table>
        </div>
    </div>
</section>

<p-dialog header="Nome do novo baralho" [(visible)]="visible" [modal]="true"  [style]="{ width: '20vw' }" [draggable]="false" [resizable]="false">
    <div class="flex justify-content-end gap-2 mt-3">
        <button pButton pRipple label="Salvar"></button>
        <button pButton pRipple label="Cancelar"></button>
    </div>
</p-dialog>