<section class="p-3 flex justify-content-center">
    <div class="container">
        <div class="surface-card p-4 flex justify-content-between border-round-xl">
            <div class="text-3xl font-medium text-900 borde">Flashcards</div>
            <div>
                <button pButton pRipple label="Criar baralho" class="w-full" (click)="showDialog()"></button>
            </div>
        </div>
    </div>
</section>

<section class="p-3 pt-0 flex justify-content-center">
    <div class="container">
        <div class="surface-card p-4 border-round-xl">
            <table>
                <tr>
                    <th>Baralho</th>
                    <th>Novos</th>
                    <th>Aprender</th>
                    <th>A Revisar</th>
                </tr>
                @for (customer of customers; track customer.name) {
                    <tr>
                        <td class="font-medium text-900 " >
                            {{customer.name}}
                        </td> 
                        <td class="font-medium text-900 text-center" 
                            [ngStyle]="{'color': (customer.new > 0) ? '#006aff' : 'black'}">
                            {{ customer.new || 0 }}
                        </td>
                        <td class="font-medium text-900 text-center text-red-400">
                            {{customer.learn || 0}}
                        </td> 
                        <td class="font-medium text-900 text-center text-green-400">
                            {{customer.review || 0}}
                        </td> 
                        <td class="text-center">
                            <i class="pi pi-cog" style="color: #575757; font-size: 18px;"></i>
                        </td> 
                        
                    </tr>
                 
                            @for (teste of customer.children; track teste.name) {
                                <tr>
                                    <td class="font-medium text-900">
                                        {{teste.name}}
                                    </td> 
                                    <td class="font-medium text-900 text-center">
                                        {{teste.new || 0}}
                                    </td> 
                                    <td class="font-medium text-900 text-center">
                                        {{teste.learn || 0}}
                                    </td> 
                                    <td class="font-medium text-900 text-center">
                                        {{teste.review || 0}}
                                    </td> 
                                    <td class="text-center">
                                        <i class="pi pi-cog" style="color: #575757; font-size: 18px;"></i>
                                    </td> 
                                </tr>
                            }
                       
                }
            </table>
        </div>
    </div>
</section>

<p-dialog header="Nome do novo baralho" [(visible)]="visible" [modal]="true"  [style]="{ width: '20vw' }" [draggable]="false" [resizable]="false">
    <div class="flex justify-content-end gap-2 mt-3">
        <button pButton pRipple label="Salvar"></button>
        <button pButton pRipple label="Cancelar"></button>
    </div>
</p-dialog>